/*
## Página 2) Tela de login

* Quadro centralizado com formulário de login;
* Campos normais de login (email e senha).
*/
.site {
  margin-top: -60px;
  height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
    border: 1px solid black;
    padding: 3%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botao {
  margin-left: 50px;
}
