/*
## Página 1) Site institucional

* Menu horizontal superior com posicionamento fixo (largura 100%);
* Corpo da página com 2 colunas. A da esquerda com aproximadamente 70% da largura da janela e a da direita com aproximadamente 30%;
* Rodapé horizontal (posicionamento NÃO fixo - largura 100%).
*/
.menu {
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
}
.corpo {
  padding-top: 100px;
  width: 100%;
  height: 1000px;
}
.coluna1 {
  float: left;
  width: 70%;
  height: 1000px;
  background-color: grey;
}
.coluna2 {
  float: left;
  width: 30%;
  height: 1000px;
  background-color: beige;
}
.rodape {
  width: 100%;
  height: 100px;
  background-color: black;
}
h1, h3 {
  color: white;
}
